{% extends "base_template.html" %}

{% block content %}


    <main class="main_overview">

        <div class="mt-5">

            <div class="row mb-3">

                <div class="col-12 d-flex justify-content-center">
                    <div>
                        <h2 class="text-uppercase text-center">Get inspired...</h2>

                        <h4 class="text-center">Explore hundreds of different cooking and baking recipes and get inspired <br />by other people's ideas.</h4>
                    </div>
                </div>

            </div>

            <div class="row">

                <div class="col-6 cooking-bg p-4 d-flex justify-content-center">

                    <button type="button" class="btn start-btn"><a class="text-uppercase" href="/recipes/cooking">cooking</a></button>

                </div>

                <div class="col-6 baking-bg p-4 d-flex justify-content-center">

                    <button type="button" class="btn start-btn"><a class="text-uppercase" href="/recipes/baking">baking</a></button>

                </div>

            </div>





        </div>



    </main>


{% endblock %}
