					
{% extends "overview_cooking.html" %}
					
{% block recipe %}

<div class="row">
                <div class="col-3">
                </div>
                <div class="col-6">
				
					
<a href="#" class="box-link">
                        <div class="recipe-box">
                            <div class="row">
                                <div class="col-3 my-auto text-center">
                                    <p class="text-uppercase text-white">
                                        Pasta with basil and tomato sauce
                                    </p>
                                </div>
                                <div class="col-9">
                                    <div class="diet-icons">
                                        <div class="row">
											<img class="image-in-box" src="images/pasta.jpg" alt="vegan recipe">
                                            <div class="col-6"></div>
                                            <div class="col-6 d-flex pb-3 icon-div justify-content-end">
                                                <div class="place-icon">
                                                    <img class="mr-1" src="images/vegan.png" alt="vegan recipe" width="50" height="50">
                                                    <img class="mr-1" src="images/veggie.png" alt="veggie recipe" width="50" height="50">
                                                    <img src="images/glutenfree.png" alt="glutenfree recipe" width="50" height="50">
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </a>	
					
					
 </div>
                <div class="col-3">
                </div>
            </div>
				
				
{% endblock %}
